.maindiv{
    height: 100%;
    width: 380px;
    background-color: royalblue;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 50px;
    border: solid black 3px;
    box-shadow: black 10px 10px 30px ;
    border-radius: 20px;
}

h1{
    font-family: Goudy Old Style;
    font-size: 70px;
    
}

.maindiv>div>button{
    margin: 5px;
}

#inptxt{
    margin-top: 10px;
    height: 100px;
    width: 350px;
    /* background-color: blue; */
    font-size: 40px;
    color: black;
    border: black 2px solid;
    padding-left: 10px;
    border-radius: 20px;
}

.longbtn{
    width: 256px;
    height: 50px;
    margin: 8px 6px;
}
.longbtn1{
    width: 168px;
    height: 50px;
    margin: 8px 5.5px;
}

.btn{
    width: 80px;
    height: 50px;
    margin: 8px 4px;
}

.buttondiv{
    margin: 20px 0px;
}

.btndivall>button{
    background-color: whitesmoke;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 25px;
    border-radius: 20px;
    box-shadow:  rgba(0, 0, 0, 0.534) 10px 3px 10px;
    cursor: pointer;
}